@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";
}
@* view that will log the users into the app *@

<h2>Login</h2>
@* https://www.w3schools.com/html/html_forms.asp *@
@* https://www.w3schools.com/html/html_forms_attributes.asp *@
<form asp-action="Login" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required />

    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required />

    <label for="role">Role:</label>
    <select name="role" id="role" required>
       @*  user can select roles from dropdown *@
        <option value="Lecturer">Lecturer</option>
        <option value="Program Coordinator">Program Coordinator</option>
        <option value="Academic Manager">Academic Manager</option>
        <option value="HR">HR</option>
    </select>

    <button type="submit">Login</button>
</form>


